* {
  margin: 0px;
}

body {
  background-color: #191920;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.main {
  z-index: 1;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  transition: all ease-in .02s;
}

.theme-selector {
  z-index: 1;
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.75em;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
}

.deco-graphic,
.subtitle,
.deco-texlive {
  display: none;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none !important;
}

.theme-switcher {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  padding: 1em 1em;
  z-index: 2;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: min(50vw, 32em);
  height: min(50vh, 16em);
  gap: 0.5em;
  border: 1px solid black;
}

.theme-switcher input {
  width: 100%;
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.75em;
  padding: 1em;
  border-radius: 0;
  border: 1px solid black;
}

.theme-switcher ul {
  list-style: none;
  border: 1px solid black;
  flex: 1;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.theme-switcher li {
  display: block !important;
  font-size: 0.75em;
  font-family: "IBM Plex Mono", monospace;
  padding: 1em;
  margin: 0;
}

.highlighted {
  background-color: #19192044;
}