* {
  margin: 0px;
}

body {
  background-color: #191920;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.main {
  z-index: 1;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  transition: all ease-in .02s;
}

.small {
  height: calc(100% - 5em);
  width: calc(100% - 5em);
  border-radius: 1em;
  transition: all ease-out .02s;
}

button {
  width: 4em;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button svg {
  width: 2.5em;
  height: 2.5em;
}

.theme-selector {
  z-index: 1;
  font-size: 16px;
  font-family: "IBM Plex Mono", monospace;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
}

.theme-navbar {
  color: white;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "IBM Plex Mono", monospace;
  height: 2.5em;
  padding-left: 2em;
  gap: 2em;
}

.theme-navbar>button {
  font-size: 16px;
  color: white;
}