* {
  margin: 0px;
}

body {
  background-image: linear-gradient(to right, #15790d20 1px, transparent 1px),
    linear-gradient(to bottom, #15790d20 1px, transparent 1px);
  background-size: 1rem 1rem;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 2em;
  width: 75vw;
  padding: 160px 128px;
}
.side {
  display: flex;
  flex-direction: column;
  max-width: min-content;
  gap: 1em;
}
h1 {
  word-spacing: 9999rem;
}

.black {
  color: #191920;
}

nav {
  writing-mode: vertical-lr;
  cursor: crosshair;
  color: #191920;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
nav * {
  cursor: crosshair;
}

a,
a:visited {
  color: #191920;
}
.link {
  text-decoration: none;
  background-image: linear-gradient(#19192060, #19192060);
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in;
}
.link-v {
  background-position: 5% 0;
  background-size: 2px 0;
}
.link-h {
  background-position: 0 95%;
  background-size: 0 2px;
}
.link-v:hover {
  background-size: 2px 100%;
}
.link-h:hover {
  background-size: 100% 2px;
}

.title {
  font-family: "Roboto Flex", sans-serif;
  font-size: 6em;
  letter-spacing: -0.06rem;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 95,
    "GRAD" 100,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
  line-height: 100%;
}

.paragraph {
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.5em;
  letter-spacing: -0.02em;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" -100,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
  line-height: 100%;
}

.deco {
  position: absolute;
  right: 0%;
  bottom: 0%;
  overflow: hidden;
  transform: scale(1.3);
  transform-origin: right bottom;
}
