* {
  margin: 0;
}

.main {
  background-color: #FFFAF0 !important;
}

.graphic-deco {
  display: none;
}

.wrapper {
  margin-top: 10vh;
  margin-right: 15vw;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.name {
  padding: 0;
}

.side {
  padding: 0;
}

.side {
  padding: 0;
}

a {
  text-decoration: none;
  color: #191920;
}

.link {
  text-decoration: none;
  background-position: 0 90%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size 0.5s ease-in;
}

.link:hover {
  background-size: 100% 1px;
}

.desc {
  color: #515151;
}

.title {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 4em;
  letter-spacing: -0.04em;
}

ol {
  ol {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }

  .paragraph {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5em;
    letter-spacing: -0.04em;
  }

  li {
    display: inline-block;
  }